body {
  background-color: blue;
  color: white;
  display: grid;
  grid-template-rows: 150px 700px;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  width: 100%;
}

.tile {
  height: 200px;
  width: 250px;
  margin: 20px;
  background-color: lightpink;
}

.longer {
  height: 300px;
}
