body {
  background-color: blue;
  color: white;
  display: grid;
  grid-template-rows: 150px auto;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  height: 1000px;
  width: 100%;
}

.tile {
  height: 200px;
  width: 250px;
  margin: 20px;
  background-color: lightpink;
}

.longer {
  height: 300px;
}
