body {
  display: grid;
  grid-template-rows: 65px 700px;
  grid-template-columns: 100%;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
}

.logo img {
  width: 32px;
}

.searchbar input {
  height: 25px;
  border-radius: 4px;
  background-color: #efefef;
  color: #757575;
  border: 1px solid transparent;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1700px;
  width: 100%;
}

.tile {
  width: 250px;
  margin: 20px;
}

img {
  width: 250px;
  border-radius: 8px;
}
